* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #1f1f2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.caluclator {
    background: #2c2c3c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
input[name="display"] {
    width: 100%;
    height: 60px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    background: black;
    color: #00ffcc;
}
.caluclator div {
    display: flex;
}
input[type="button"] {
    flex: 1;
    margin: 5px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #3c3c55;
    color: white;
    transition: 0.2s;
}
input[type="button"]:hover {
    background: #5a5a7a;
}
.operator {
    background: orange;
    color: white;
}

.operator:hover {
    background: darkorange;
}
.equal {
    background: green;
}

.equal:hover {
    background: darkgreen;
}